@media only screen
and (max-width : 1430px) {

}

@media only screen
and (max-width : 1200px) {

/*header*/

/*Nav Area*/
/*Banner Area*/
/*Middle Area*/
/*Main Area*/
/*Bottom Area*/
/*Footer Area*/

}

/* Large Tablet Devices */
@media only screen
and (max-width : 1100px) {
/*POP UP JS*/
/*.pop_inner{max-width: none;width: 90%;}*/


/*header*/

/*Nav Area*/
/*Banner Area*/
/*Middle Area*/
/*Main Area*/
/*Bottom Area*/
/*Footer Area*/

}

@media only screen
and (max-width : 1024px) {
/*Header Area*/
/*Nav Area*/
nav.page_nav ul li.menu-item-has-children > span{display:block;font-size: 17px;right: 30px; top: 35px;position:absolute;}
nav.page_nav ul ul li.menu-item-has-children > span {display: block;font-size: 17px;right: 0;top: 2px;position: absolute;}
nav.page_nav ul li:hover > ul{display: none;}
nav.page_nav ul ul ul{left: 0; top: 100%;}
/*Banner Area*/
/*.slider{position: relative; left: 0; top: 0; right: 0; bottom:0;width: 100%; height: auto; }*/
.non_ban figure{width: 190%;margin-left: -42%; left: 0; transform: none;}
/*Middle Area*/
/*Main Area*/
/*Bottom Area*/
/*Footer Area*/
}

@media only screen
and (max-width : 1010px) {
html, body{
-webkit-touch-callout: none;
-webkit-user-select: none; /* Webkit */
-moz-user-select: none;    /* Firefox */
-ms-user-select: none;     /* IE 10  */
}

/*Header Area*/
header {padding: 25px; min-height: 0;position: relative;}
.header_holder{position: relative!important; z-index: 99;}
.header_main{padding: 0; min-height: 0; position: relative; margin: 0; height: auto;}

/*Nav Area*/
#nav_area{position: relative;}
nav.page_nav {clear: both; height:auto;margin:auto; padding: 25px; transition:none; position:relative; width:100%; right:0; top:0; font-size: 0; min-height:0;}
nav.page_nav ul{ margin:0; text-align:center; padding: 0; min-height: 0; height: auto;}
nav.page_nav ul li{width: 32%; text-align: center; border:1px solid #fff; margin:5px!important; display: inline-block;}
nav.page_nav ul li:after{display: none;}
nav.page_nav ul li.menu-item-has-children > span{display:block;font-size: 17px;right:0;top:10px;position:absolute;}
nav.page_nav ul ul li.menu-item-has-children > span {display: block;font-size: 17px;right: 0;top: 20px;position: absolute;}
nav.page_nav ul li:hover > ul{display: none;}
nav.page_nav ul li a{line-height: 50px;}
/* nav.page_nav ul li a{line-height: 100%;}  */ /* --if naay sub-heading ang nav kani gamita */
nav.page_nav ul li span{right:0;top:5px;}
nav.page_nav ul ul, nav.page_nav ul ul li, nav.page_nav ul ul li a {width:100%;}
nav.page_nav ul ul ul{left: 0; top: 100%;}
nav.page_nav ul ul li{margin: 0 !important; border: none!important;}
nav.page_nav ul ul li a{line-height: 100%; padding: 15px 10px;}
.page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a, .page_nav ul li a:hover small, .page_nav ul li.current_page_item a small{ text-decoration: none; background: #fff; }

/*Banner Area*/
#banner{text-align:center; height:auto; margin:0; padding: 0;}
.bnr_main{padding: 0; min-height: 0; position: relative; margin: 0; height: auto;}
.box_skitter{display:none;}
.rslides{display:block;}
.slider{position: relative; left: 0; top: 0; right: 0; bottom:0;width: 100%; height: auto; }

/* .non_ban figure{width: 190%;margin-left: -42%; left: 0;}
.page_title{font-size: 40px;} */

.bnr_info{position: relative; width: 100%; top:0; left: 0; right:0; bottom:0; margin: auto;padding: 40px 25px; text-align: center;min-height: 0; margin: 0 auto;}

/*Middle Area*/
#middle {text-align:center; margin:0; padding: 40px 25px;min-height: 0;position: relative;}
.middle_main{padding: 0; min-height: 0; position: relative; margin: 0; height: auto;}

.mid_boxes{flex-wrap: wrap; position: static;}
.mid_boxes section{width:48%; margin:0 auto 25px!important; min-height: 0; padding: 20px 15px;}
.mid_boxes section h2{}

/*Main Area*/
#main_area{margin:0;padding: 40px 25px; min-height: 0;}
.main_holder{float:none!important; width:100%!important; top: 0; right:0; left:0; bottom:0; position: relative; min-height: 0; margin: 0; padding: 0; height: auto;}
main {margin: 0 auto;}

.sidebar{}
.sidebar figure{display: none;}
.sidebar figure img{}
/*Bottom Area*/
#bottom1{padding: 40px 25px; min-height: 0;position: relative; margin: 0;}
.btm1_main{padding: 0; min-height: 0; position: relative; margin: 0; height: auto;}

.btm1_boxes{flex-wrap: wrap; position: static;}
.btm1_boxes section{width:48%; margin:0 auto 25px!important; min-height: 0; padding: 20px 15px;}
.btm1_boxes h2{}

#bottom2{padding: 40px 25px; min-height: 0;position: relative; margin: 0;}
.btm2_main{padding: 0; min-height: 0; position: relative; margin: 0; height: auto;}

.btm2_form form{flex-wrap: wrap; width: 100%; position: static; float: none;}
.btm2_form form input{width: 48%; margin: 0 0 15px;}
.btm2_form form textarea{ width: 100%; margin: 0 0 15px;}
.btm2_form form input[type="submit"]{max-width: 100%; }

#bottom3{padding: 40px 25px; min-height: 0;position: relative; margin: 0;}
.btm3_main{padding: 0; min-height: 0; position: relative; margin: 0; height: auto;}

#bottom4{padding: 40px 25px; min-height: 0;position: relative; margin: 0;}
.btm4_main{padding: 0; min-height: 0; position: relative; margin: 0; height: auto;}


/*Footer Area*/
footer{position: relative;}
.footer_top{padding: 40px 25px; min-height: 0; position: relative; height: auto;}
.footer_top_main{padding: 0; min-height: 0; position: relative; margin: 0; height: auto;}


.footer_btm{padding: 40px 25px; min-height: 0; position: relative;height: auto;}
.footer_btm_main{padding: 0; min-height: 0; position: relative; margin: 0; height: auto;}
.footer_nav{text-align: center;}
.footer_nav ul { margin:0; text-align:center; padding: 0; min-height: 0; height: auto; font-size: 0;}
.footer_nav ul li{width: 32%; text-align: center; border:1px solid #fff; margin:0px 2px 6px !important; display: inline-block;}
.footer_nav ul li:after{display: none;}
.footer_nav ul li a{line-height: 50px;}
.footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{ text-decoration:none; background: #fff; }

.copyright{margin-top:30px;}


/* Other */
.animated {animation-name: none !important;opacity: 1 !important;  -webkit-transform: none!important;transform: none!important;}
}

@media only screen
and (max-width : 800px) {

/* Header Area */
.main_logo{width: 350px;max-width: 70%; float: left; padding: 0; top: 0; left: 0; position: relative;}
.header_info{text-align: center; padding: 0; float: none; width: 100%;}

/* Nav Area */
#nav_area{padding: 25px;background:#f3f3f3;box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);position: relative;}
.nav_toggle_button{display:block;}
nav.page_nav {width: 280px;position: fixed;top: 0;right: -280px; left: auto; height: 100%;transition: all 0.7s ease;overflow-y: scroll;padding: 0 0 30px;opacity: 0;}
nav.page_nav ul{margin: 0; padding: 0;}
nav.page_nav ul li{width: 100%; display: block; margin: 0 auto !important;border: none;border-bottom: 1px solid #f8f8f8;text-align: left;}
nav.page_nav ul li:last-child{border-bottom: none;}
nav.page_nav ul li a{line-height: 50px;padding: 0 10px;text-align: center;}
/* nav.page_nav ul li a{line-height: 100%;padding: 0 10px;text-align: center;} */ /* --if naay sub-heading ang nav kani gamita */
nav.page_nav ul ul{width:100%; position:relative;  transition:none; left: auto;top: 0;}
nav.page_nav ul ul li {border:none; width:100%;}
nav.page_nav ul li.menu-item-has-children > span{top: 10px}
nav.page_nav ul ul li.menu-item-has-children > span{top: 10px;}
nav.page_nav ul ul li a{line-height: 100%; padding: 15px 10px;}

/* Toggle Style */
.toggle_right_nav {position: fixed;top: 0;left: 0;right: 0;width:100%;height: 100%;z-index: 1000;visibility: hidden; transition: all 0.7s ease;}
.toggle_nav_close {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}
.toggle_right_cont {visibility: visible;background: rgba(0,0,0,0.9);}
nav.toggle_right_style {right: 0;opacity: 1;z-index: 45;}
.logo_slide_right {float:left;width: calc(100% - 60px);}
.menu_slide_right {display: block;text-align: left;padding: 20px 10px;background: #f3f3f3;position: relative;border-bottom: 2px solid #fff;}

/*Banner Area*/
.page_title{position: static;background: #000;color: #fff;font-size: 30px}

/*Middle Area*/
.mid_boxes section{ width: 48%; display: block;}
/* .mid_boxes section{ width: 100%; display: block;} */


/*Main Area*/


/*Bottom Area*/
.btm1_boxes section{ width: 48%; display: block;}
/* .btm1_boxes section{ width: 100%; display: block;} */

.btm2_form form input{width: 100%; margin: 0 0 15px;}
.btm2_form form textarea{ width: 100%; margin: 0 0 15px;}
.btm2_form form input[type="submit"]{max-width: 100%;}


/*Footer Area*/
.footer_top{padding: 40px 25px;}

.contact_info ul li{width: 48%; margin: 0 auto 25px;}
/* .contact_info ul li{width: 100%; margin: 0 auto 25px;} */


.footer_btm{padding: 40px 25px;}
.footer_nav ul{ margin:0; text-align:center; font-size: 0;}
.footer_nav ul li{width: 49%;}



/* Other */
.thumb_right_dd, .thumb_left_dd,  .thumb_center_dd, .thumb_right_dr, .thumb_left_dr, .thumb_center_dr{width: 250px;}
.sitemap{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
.col2{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
.col3{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 5px; -moz-column-gap: 5px;  column-gap: 5px;}
.resources ul li{min-height: 0;}
}


/* Smartphones */
@media only screen
and (max-width : 600px) {

/* Header Area */


/*Banner Area*/
.mobi_ban{display: block; max-width:1920px; width: 190%;margin-left: -45%;}
/* .non_ban figure{width: 310%;margin-left: -105%;} */


/*Middle Area*/
.mid_boxes section{ width: 100%; display: block;}

/*Main Area*/


/*Bottom Area*/
.btm1_boxes section{ width: 100%; display: block;}

.btm2_form form input{width: 100%; margin: 0 0 15px;}
.btm2_form form textarea{ width: 100%; margin: 0 0 15px;}
.btm2_form form input[type="submit"]{max-width: 100%;}


/*Footer Area*/
.contact_info ul li{width: 100%; margin: 0 auto 25px;}

footer {padding-bottom: 45px;}
.footer_comp{display:block; line-height: 28px;}
.footer_comp:before, .footer_comp:after{display: none;}
.footer_nav ul li{width:100%; margin: 6px auto!important; display: block;}

/*Others*/
main .bullet{padding-left:10px;}
.thumb_left_dd, .thumb_right_dd, .thumb_center_dd, .slider{display: none;}
.thumb_right_dr, .thumb_left_dr, .thumb_center_dr{width: 400px; display: block; float: none; text-align: center; margin: 0 auto; position: relative;}
.col2,.col3{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}

/*For (AddThis) Plugins*/
.withAddThis_plugins {bottom: 48px;}
.withAddThis_ftr_btm {padding: 0 10px 88px;}
/*End (AddThis) Plugins*/
}
